<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploaded</title>
  </head>
  <body>
    <div>
      <a href="/uploadfiles">Back Home</a>
      <h1>File Successfully Uploaded !</h1>
      <h2><%=uploadedFileDetails.originalname%></h2>
      <ul>
        <%for(const key in uploadedFileDetails){%> <% if
        (uploadedFileDetails.hasOwnProperty(key))%> <%{%>
        <li><%=key%>: <%=uploadedFileDetails[key]%></li>
        <%}%> <%}%>
      </ul>
    </div>
  </body>
</html>
