<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folder Deleted</title>
</head>
<body>
    <div>
        <a href="/uploadfiles">Back Home</a>
        <h1>Folder Deleted</h1>
    </div>
</body>
</html>