<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Upload Files</title>
</head>

<body>
  <div></div>
  <div>
    <a href="/notauthorized">Logout</a>
    <h1>Upload Files</h1>
    <form method="post" action="/fileuploaded" enctype="multipart/form-data">
      <label>Upload File</label>
      <input type="file" name="file_upload" id="file_upload" /><br />
      <button type="submit">Upload</button>
    </form>
  </div>

  <div>
    <form method="post" action="/fileuploaded">
      <input type="text">
      <button type="submit">Create Folder</button>
    </form>
  </div>

  <div>
    <h1>Current File List</h1>
    <div>
      <% if (currentFileList.length > 0) { %>
      <% 
      // Group files by folder_name
      const groupedFiles = {};
      currentFileList.forEach(file => {
        if (!groupedFiles[file.folder_name]) {
          groupedFiles[file.folder_name] = [];
        }
        groupedFiles[file.folder_name].push(file);
      });
    %>

      <% for (const folder in groupedFiles) { %>
      <h2>Folder: <a href=<%= folder %>> <%= folder %></a> </h2>
      <ul>
        <% groupedFiles[folder].forEach(file => { %>
        <li>
          File:<a href=<%= file.file_url%>><%= file.Original_file_name %></a>
        </li>
        <% }) %>
      </ul>
      <% } %>
      <% } else { %>
      <p>No Files Saved</p>
      <% } %>
    </div>


  </div>

</body>

</html>