<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Files</title>
</head>
<body>
    <div>
        <h1>Upload Files</h1>
        <form method="post" action="uploadfiles">
            <label>Upload File</label>
            <input type="file" name="file" id="file"/><br>
            <button type="submit">Upload</button>
        </form>
    </div>
    
</body>
</html>